.container .row .panel-default .panel-heading .action-btns {
  margin-top: -4px;
}
.container .row .panel-default .panel-body .body-item ul {
  margin: 0 0 0 10px;
  padding: 0;
  list-style: none;
}
.container .row .panel-default .panel-body .body-item ul li {
  font: normal normal normal 14px/1 FontAwesome;
  line-height: 20px;
}
.container .row .panel-default .panel-body .body-item ul li a {
  text-decoration: none;
  font-size: .9em;
  font-weight: 300;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}
.container .row .panel-default .panel-body .body-item ul li a img {
  width: 100px;
  display: inline-block;
}
.container .row .panel-default .panel-body .body-item ul li:hover a {
  color: #FF8585;
}
.container .row .panel-default .panel-body .body-item ul li:hover:before {
  color: #FF8585;
}
.container .row .panel-default .panel-body .body-item .flag-holder {
  width: 100px;
  display: inline-block;
  padding: 4px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 2px;
}
.container .row .panel-default .panel-body .body-item .flag-holder:hover {
  background-color: #ddd;
}
.container .row .panel-default .panel-body .body-item .flag-holder a {
  margin-bottom: 0;
  text-align: center;
  display: block;
  text-decoration: none;
}
.container .row .panel-default .panel-body .body-item .flag-holder a img {
  max-height: 50px;
}
.container .row .panel-default .panel-body .country-img-holder {
  padding: 2px;
  border: 1px solid #ddd;
  margin-bottom: 4px;
}
.container .row .panel-default .panel-body .country-img-holder #map-img {
  height: 115px;
}
.container .row .panel-default .panel-body form {
  margin-top: 30px;
}
.container .row .panel-default .panel-body form .form-group {
  margin-bottom: 2px;
}
.container .row .panel-default .panel-body form .form-group .uppercase {
  text-transform: uppercase;
}
.container .row .panel-default .panel-body form .form-group .capitalize {
  text-transform: capitalize;
}
.container .row .panel-default .panel-body form .photo-holder {
  position: relative;
  height: 100px;
  margin-left: auto;
}
.container .row .panel-default .panel-body form .photo-holder .photo-overlay {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: whitesmoke;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
  height: 100%;
}
.container .row .panel-default .panel-body form .photo-holder .photo-overlay h3 {
  margin: 0;
  color: #BBB;
  position: relative;
  top: 36px;
  text-align: center;
  z-index: 99;
}
.container .row .panel-default .panel-body form .photo-holder .photo-overlay img {
  width: 100%;
  position: absolute;
  top: 0;
}
.container .row .panel-default .panel-body form .photo-holder input[name=avatar] {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 999;
  opacity: 0;
  cursor: pointer;
}
