html body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
}
html body #world-map {
  border-top: 2px solid #D76E6E;
  border-bottom: 2px solid #D76E6E;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
html body #world-map .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 99;
  display: none;
}
html body h2 {
  font-weight: 100;
}
html body #empty {
  margin-top: 30px;
  display: none;
}
html body .modal-backdrop {
  z-index: -1;
}
html body section {
  background-color: #fff;
}
html body section .container {
  background-color: #fff;
  padding: 0;
}
html body section .container .navbar-default {
  margin: 0;
}
html body section#header {
  border-bottom: 1px solid #ddd;
}
html body section#header .navbar-default {
  border-radius: 0;
  background-color: #fff;
  border: none;
}
html body section#header .navbar-default .container-fluid #navbar-world .navbar-nav li.active a {
  background-color: #FF8585;
  color: #fff;
}
html body section#header .navbar-default .container-fluid #navbar-world .navbar-nav.media-icons li a {
  padding: 10px;
}
html body section#instruction .container .thumbnail {
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0;
  border-left: none;
  border-top: none;
  border-bottom: none;
  text-align: center;
  margin-bottom: 0;
}
html body section#instruction .container .thumbnail .big-icon i {
  font-size: 4em;
  color: #677F8B;
}
html body section#instruction .container .thumbnail .caption h3 {
  margin-top: 0;
  font-weight: 100;
}
html body section#selects {
  display: none;
  padding-top: 30px;
  padding-bottom: 30px;
}
html body section#selects .country-name {
  color: #E46B6B;
}
html body section#selects form input[type=submit] {
  margin-top: 10px;
  width: 100px;
}
html body section#selects form input[type=reset] {
  margin-top: 10px;
  width: 100px;
}
html body section#selects form select[name=positions] {
  margin-bottom: 2px;
}
html body section#sub-banner {
  background: #547586 url(../images/subbanner.png) top center no-repeat;
  border-top: 2px solid #D76E6E;
  border-bottom: 2px solid #D76E6E;
}
html body section#sub-banner .container {
  background-color: transparent;
}
html body section#sub-banner .container .page-title {
  text-align: right;
  color: #fff;
  padding: 10px 0;
}
html body section#crumbs {
  background-color: #F5F5F5;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}
html body section#crumbs .breadcrumb {
  margin: 0;
}
html body section#crumbs .breadcrumb li a {
  text-decoration: none;
}
html body section#subpage {
  background: #547586 url(../images/subbanner.png) top center no-repeat;
}
html body section#subpage .container {
  background-color: transparent;
}
html body section#subpage .container h3 {
  color: #fff;
  padding: 20px 0;
  text-shadow: 1px 1px #000;
}
html body section#pagecontent {
  padding: 30px;
}
html body section#pagecontent .container .item #contact-us {
  background-color: #F0F0F0;
  border-radius: 4px;
  border: 1px solid #ddd;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px 0;
}
html body section#pagecontent .container .item #contact-us form .form-group {
  margin-bottom: 2px;
}
html body section#resultcontents {
  background-color: #F4F4F4;
  padding: 10px 0;
}
html body section#resultcontents .container {
  border: 1px solid #E4E4E4;
  border-radius: 4px;
  padding-top: 20px;
  padding-bottom: 20px;
}
html body section#resultcontents .container .item-block {
  padding: 0;
}
html body section#resultcontents .container .item-block .left-item {
  padding: 0;
}
html body section#resultcontents .container .item-block .criteria {
  margin-bottom: 10px;
  background-color: #547586;
  padding: 20px;
  border-radius: 4px;
  color: #fff;
}
html body section#resultcontents .container .item-block .criteria p {
  margin: 0;
}
html body section#resultcontents .container .item-block h4 {
  font-weight: 100;
}
html body section#resultcontents .container .item-block .item h3 {
  font-weight: 100;
}
html body section#resultcontents .container .item-block .item ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
html body section#resultcontents .container .item-block .item table tr td:first-child {
  width: 150px;
}
html body section#resultcontents .container .item-block .item .namelist .media {
  border: 1px solid #ddd;
  padding: 10px;
}
html body section#resultcontents .container .item-block .item .namelist .media:nth-child(even) {
  background-color: #F0F0F0;
  border: 1px solid #ddd;
}
html body section#resultcontents .container .item-block .item .namelist .media:nth-child(even) .media-body {
  background-color: #F4F4F4;
  border: 1px solid #ddd;
}
html body section#resultcontents .container .item-block .item .namelist .media .media-left img {
  max-width: 200px;
  border: 1px solid #ddd;
}
html body section#resultcontents .container .item-block .item .namelist .media .media-middle {
  vertical-align: top;
}
html body section#resultcontents .container .item-block .item .namelist .media .media-body {
  background-color: #F2F2F2;
  padding: 20px;
}
html body section#resultcontents .container .item-block .item .namelist .media .media-body .media-heading a {
  color: #547586;
  text-decoration: none;
}
html body section#resultcontents .container .item-block .item .namelist .media .media-body .media-heading a:hover {
  color: #FF8585;
}
html body section#resultcontents .container #map-details img {
  border: 1px solid #ddd;
}
html body section#resultcontents .container #map-details .map-holder {
  position: relative;
}
html body section#resultcontents .container #map-details .map-holder .map-overlay {
  position: absolute;
  background-color: rgba(84, 117, 134, 0.78);
  width: 100%;
  height: 100%;
  font-size: 1em;
  text-align: center;
  padding-top: 14px;
  color: #fff;
  display: none;
}
html body section#resultcontents .container #map-details .map-holder .map-overlay div {
  margin-bottom: 2px;
}
html body section#resultcontents .container #map-details .map-holder .map-overlay span {
  font-size: 1.5em;
}
html body section#resultcontents .container #map-details .map-holder:hover .map-overlay {
  display: block;
}
html body section#footer {
  background-color: #ddd;
  border-top: 1px solid #C2C2C2;
}
html body section#footer .container {
  background-color: transparent;
  padding: 10px;
  text-align: center;
}
