.container {
	.row {
		.panel-default {
			.panel-heading {
				.action-btns {
					margin-top: -4px;
				}
			}
			.panel-body {
				.body-item {
					ul {
						margin: 0 0 0 10px;
						padding: 0;


						list-style: none;

						li {
							font: normal normal normal 14px/1 FontAwesome;
							line-height: 20px;

							
							a {
								text-decoration: none;
								font-size: .9em;
								font-weight: 300;
								font-family: "Roboto", Helvetica, Arial, sans-serif;

								img {
									width: 100px;
									display: inline-block;
								}
							}

							&:hover {

								a {
									color: #FF8585;
								}
									

								&:before {
									color: #FF8585;
								}
							}
								
						}
					}

					.flag-holder {
						width: 100px;
						display: inline-block;
						padding: 4px;
						border: 1px solid #ddd;
						border-radius: 4px;
						margin: 2px;

						&:hover {
								background-color: #ddd;
							}

						a {
							margin-bottom: 0;
							text-align: center;
							display: block;
							text-decoration: none;



							img {
								max-height: 50px;
							}
						}
					}
				}

				.country-img-holder {
					padding: 2px;
					border: 1px solid #ddd;
					margin-bottom: 4px;

					#map-img {
						height: 115px;
					}
				}
				form {
					margin-top: 30px;

					.form-group {
						margin-bottom: 2px;

						.uppercase {
							text-transform: uppercase;
						}
						.capitalize {
							text-transform: capitalize;
						}
					}

					.photo-holder {
						position: relative;
						height: 100px;
						margin-left: auto;

						.photo-overlay {
							position: absolute;
							overflow: hidden;
							top: 0;
							left: 0;
							background-color: whitesmoke;
							border: 1px solid #ddd;
  							border-radius: 4px;
							width: 100%;
							height: 100%;

							h3 {
								margin: 0;
								color: #BBB;
								position: relative;
								top: 36px;
								text-align: center;
								z-index: 99;
							}

							img {
								width: 100%;
								position: absolute;
								top: 0;
							}
						}
						input {
							&[name=avatar] {
								position: relative;
								height: 100%;
								width: 100%;
								z-index: 999;
								opacity: 0;
								cursor: pointer;
							}
						}
					}
				}
			}
		}
	}
}