html body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
}
html body #world-map {
  border-top: 2px solid #D76E6E;
  border-bottom: 2px solid #D76E6E;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
html body #world-map .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 99;
  display: none;
}
html body h2 {
  font-weight: 100;
}
html body #empty {
  margin-top: 30px;
  display: none;
}
html body section {
  background-color: #fff;
}
html body section .container {
  background-color: #fff;
  padding: 0;
}
html body section .container .navbar-default {
  margin: 0;
}
html body section#header {
  border-bottom: 1px solid #ddd;
}
html body section#header .navbar-default {
  border-radius: 0;
  background-color: #fff;
  border: none;
}
html body section#header .navbar-default .container-fluid #navbar-world .navbar-nav li.active a {
  background-color: #FF8585;
  color: #fff;
}
html body section#header .navbar-default .container-fluid #navbar-world .navbar-nav.media-icons li a {
  padding: 10px;
}
html body section#instruction .container .thumbnail {
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0;
  border-left: none;
  border-top: none;
  border-bottom: none;
  text-align: center;
  margin-bottom: 0;
}
html body section#instruction .container .thumbnail .big-icon i {
  font-size: 4em;
  color: #677F8B;
}
html body section#instruction .container .thumbnail .caption h3 {
  margin-top: 0;
  font-weight: 100;
}
html body section#selects {
  display: none;
  padding-top: 30px;
  padding-bottom: 30px;
}
html body section#selects .country-name {
  color: #E46B6B;
}
html body section#selects form input[type=submit] {
  margin-top: 10px;
  width: 100px;
}
html body section#selects form input[type=reset] {
  margin-top: 10px;
  width: 100px;
}
html body section#selects form select[name=positions] {
  margin-bottom: 2px;
}
html body section#sub-banner {
  background: #5f8091 url(../images/subbanner.png) top center no-repeat;
  border-top: 2px solid #D76E6E;
  border-bottom: 2px solid #D76E6E;
}
html body section#sub-banner .container {
  background-color: transparent;
}
html body section#sub-banner .container .page-title {
  text-align: right;
  color: #fff;
  padding: 10px 0;
}
html body section#subpage {
  background: #5f8091 url(../images/subbanner.png) top center no-repeat;
}
html body section#resultcontents {
  background-color: #F4F4F4;
  padding: 10px 0;
}
html body section#resultcontents .container {
  border: 1px solid #E4E4E4;
  border-radius: 4px;
  padding-top: 20px;
  padding-bottom: 20px;
}
html body section#resultcontents .container .item-block h4 {
  font-weight: 100;
}
html body section#resultcontents .container .item-block .item h3 {
  font-weight: 100;
}
html body section#resultcontents .container .item-block .item ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
html body section#footer {
  background-color: #ddd;
  border-top: 1px solid #C2C2C2;
}
html body section#footer .container {
  background-color: transparent;
  padding: 10px;
  text-align: center;
}
