html {
	body {
		font-family: 'Open Sans', sans-serif;
		font-weight: 100;

		#world-map {
  			border-top: 2px solid #D76E6E;
  			border-bottom: 2px solid #D76E6E;
  			-webkit-transition: all 0.3s ease;                  
		    -moz-transition: all 0.3s ease;                 
		    -o-transition: all 0.3s ease;   
		    -ms-transition: all 0.3s ease;          
		    transition: all 0.3s ease;

		    .overlay {
		    	position: absolute;
				width: 100%;
				height: 100%;
				z-index: 99;
				display: none;
		    }
		}
		h2 {
			font-weight: 100;
		}

		#empty {
			margin-top: 30px;
			display: none;
		}

		.modal-backdrop {
			z-index: -1;
		}

		section {
			background-color: #fff;

			.container {
				background-color: #fff;
				padding: 0;

				.navbar-default{
					margin: 0;
				}
			}
			&#header {
				  border-bottom: 1px solid #ddd;

				.navbar-default {
					border-radius: 0;
					background-color: #fff;
					border: none;

					.container-fluid {
						#navbar-world {
							.navbar-nav {
								li {

									&.active {
										a {
											background-color: #FF8585;
  											color: #fff;
										}
									}
									a {
										
									}
								}

								&.media-icons {
									li {
										a {
											padding: 10px;
										}
									}
								}
							}
						}
					}
				}
			}

			&#instruction {
				.container {
					.thumbnail {
						padding-top: 10px;
						padding-bottom: 10px;
						border-radius: 0;
						border-left: none;
						border-top: none;
						border-bottom: none;
						text-align: center;
						margin-bottom: 0;
						.big-icon {
							i {
								font-size: 4em;
  								color: #677F8B;
							}
						}
						.caption {
							h3 {
								margin-top: 0;
								font-weight: 100;
							}
						}
					}
				}
			}

			&#selects {
				display: none;
				padding-top: 30px;
				padding-bottom: 30px;

				.country-name {
					color: #E46B6B;
				}

				form {
					input[type=submit] {
						margin-top: 10px;
  						width: 100px;
					}
					input[type=reset] {
						margin-top: 10px;
  						width: 100px;
					}
					select[name=positions] {
						margin-bottom: 2px;
					}

				}
			}

			&#sub-banner {
				background: #547586 url(../images/subbanner.png) top center no-repeat;
				border-top: 2px solid #D76E6E;
				border-bottom: 2px solid #D76E6E;


				.container {
					background-color: transparent;

					.page-title {
						text-align: right;
						color: #fff;
						padding: 10px 0;
					}
				}
			}
			&#crumbs {
				background-color: #F5F5F5;
				border-top: 2px solid #fff;
				border-bottom: 2px solid #fff;

				.breadcrumb {
					margin: 0;

					li {
						a {
							text-decoration: none;
						}
					}
				}
			}

			&#subpage {
				background: #547586 url(../images/subbanner.png) top center no-repeat;
				.container {
					background-color: transparent;

					h3 {
						color: #fff;
						padding: 20px 0;
						text-shadow: 1px 1px #000;
					}
				}
			}

			&#pagecontent {
				padding: 30px;

				.container {
					.item {
						#contact-us {
							background-color: #F0F0F0;
							border-radius: 4px;
							border: 1px solid #ddd;
							margin-top: 20px;
							margin-bottom: 20px;
							padding: 20px 0;

							form {
								.form-group {
									margin-bottom: 2px;
								}
							}
						}
					}
				}
			}

			&#resultcontents {
				background-color: #F4F4F4;
  				padding: 10px 0;

				.container {
					border: 1px solid #E4E4E4;
  					border-radius: 4px;
  					padding-top: 20px;
  					padding-bottom: 20px;

					.item-block {
						padding: 0;

						.left-item {
							padding: 0;
						}

						.criteria {
							margin-bottom: 10px;
							background-color: #547586;
							  padding: 20px;
							  border-radius: 4px;
							  color: #fff;
							p {
								margin: 0;
							}
						}
						h4 {
							font-weight: 100;
						}

						.item {
							h3 {
								font-weight: 100;
							}
							ul {
								list-style: none;
								margin: 0;
								padding: 0;
							}

							table {
								tr {
									td {
										&:first-child {
											width: 150px;
										}
									}
								}
							}

							.namelist {
								.media {
									border: 1px solid #ddd;
									padding: 10px;

									&:nth-child(even) {
										background-color: #F0F0F0;
  										border: 1px solid #ddd;

  										.media-body {
  											background-color: #F4F4F4;
  											border: 1px solid #ddd;
  										}
									}
									.media-left {
										img {
											max-width: 200px;
											border: 1px solid #ddd;
										}
									}
									.media-middle {
										vertical-align: top;
									}
									.media-body {
										background-color: #F2F2F2;
  										padding: 20px;

  										.media-heading {
  											a {
  												color: #547586;
  												text-decoration: none;

  												&:hover {
  													color: #FF8585;
  												}
  											}
  										}
									}
								}
							}
						}
					}

					#map-details {
						img {
							border: 1px solid #ddd;
						}

						.map-holder {
							position: relative;

							.map-overlay {
								position: absolute;
								background-color: rgba(84, 117, 134, 0.78);
								width: 100%;
								height: 100%;
								font-size: 1em;
								text-align: center;
								padding-top: 14px;
								color: #fff;
								display: none;

								div {
									margin-bottom: 2px;
								}

								span {
									font-size: 1.5em;
								}
							}

							&:hover {
								.map-overlay {
									display: block;
								}
							}
						}
					}
					#person-details {

					}
				}
			}

			&#footer {
				background-color: #ddd;
  				border-top: 1px solid #C2C2C2;

  				.container {
  					background-color: transparent;
  					padding: 10px;
  					text-align: center;
  				}
			}
		}	
	}
}